<app-top [type] = 2></app-top>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-5 offset-md-4">
      <h1>Itens-Edit</h1>
    </div>
  </div>
  <div class="row">
    <div *ngIf="form" class="col-md-6 offset-md-3">
      <form [formGroup]="form" (ngSubmit)="update()">
        <div class="form-group">
          <label for="labelinput">label</label>
          <input
            (change)="optionsChanged($event)"

            type="text" class="form-control"
            formControlName="label"
            name="label"
            id="labelinput"
            aria-describedby="emailHelp"
          >
          <div class="col-md-12 card mb-5 text-center text-white mt-2 pt-2 bg-info" *ngIf="expression">
            <small>Preview Exercício de Completar</small>
            <p>{{expression}}</p>
          </div>
        </div>

        <!-- opcoes -->
        <ul class="list-group" *ngIf="options">
          <li class="list-group-item active">Formar lacunas com:</li>
          <div class="form-group">
            <li class="list-group-item" *ngFor="let op of options">
              <label>
                <input type="checkbox" [value]="op" (change)="onCheckboxChange($event)" />
                {{op}}
              </label>
            </li>
          </div>
        </ul>
        <!-- opcoes -->
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary col-md-12 " type="submit" *ngIf="options" >enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
