<app-top [type]=2></app-top>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-5 offset-md-4">
      <h1>Esercizi-Add</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <form [formGroup]="form" (ngSubmit)="add()">
        <div class="form-group">
          <label for="levelinput">Modulo:</label>
          <select class="form-select" class="form-control" formControlName="level" name="level" id="levelinput"
                  aria-describedby="Pacote">
            <option value="Básico I">Básico I</option>
            <option value="Básico II">Básico II</option>
            <option value="Básico III">Básico III</option>
            <option value="Básico IV">Básico IV</option>
          </select>
        </div>

        <div class="form-group">
          <label for="packageinput">Pacchetto:</label>
          <select class="form-select" class="form-control" formControlName="package" name="package" id="packageinput"
                  aria-describedby="Pacote">
            <option value="1 Pacchetto">1 Pacchetto</option>
            <option value="2 Pacchetto">2 Pacchetto</option>
            <option value="3 Pacchetto">3 Pacchetto</option>
            <option value="4 Pacchetto">4 Pacchetto</option>
          </select>
        </div>

        <div class="form-group">
          <label for="typeinput">Tipo:</label>
          <select class="form-select" class="form-control" formControlName="type" name="type" id="typeinput"
                  aria-describedby="tipo">
            <option value="1">Completate</option>
            <option value="2">Alternativa corretta</option>
          </select>
        </div>

        <div class="form-group">
          <label for="numberinput">Numero:</label>
          <input type="text" class="form-control" formControlName="number" name="number" id="numberinput"
                 aria-describedby="numero da questao">
        </div>
        <div class="form-group">
          <label for="instructionOneinput">Istruzione 1:</label>
          <editor
            apiKey="vfgx8r7yexo9xgmf11xwvoclgng4aotepr3vpetqygytgd0t"
            formControlName="instructionOne" name="instructionOne" id="instructionOneinput"
            [init]="{
            toolbar: 'formatselect | bold italic | bullist numlist outdent indent'
          }"
          ></editor>
        </div>

        <div class="form-group">
          <label for="instructionTwoinput">Istruzione 2 (opzionale):</label>
          <editor
            formControlName="instructionTwo" name="instructionTwo" id="instructionTwoinput"
            [init]="{
            toolbar: 'formatselect | bold italic | bullist numlist outdent indent'
          }"
          ></editor>
        </div>

        <div class="form-group">
          <label for="instructionTreeinput">Istruzione 3 (opzionale):</label>
          <editor
            formControlName="instructionTree" name="instructionTree" id="instructionTreeinput"
            [init]="{
            toolbar: 'formatselect | bold italic | bullist numlist outdent indent'
          }"
          ></editor>
        </div>
        <button type="submit" class="btn btn-primary">enviar</button>
      </form>
    </div>
  </div>
</div>
