<app-top [type] = 2></app-top>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-5 offset-md-4">
      <h1>Itens-Add</h1>
    </div>
  </div>
  <div class="row">
    <div *ngIf="form" class="col-md-4 offset-md-4">
      <form [formGroup]="form" (ngSubmit)="add()">
        <div class="form-group">
          <label for="labelinput">label</label>
          <input
            (change)="optionsChanged($event)"

            type="text" class="form-control"
            formControlName="label"
            name="label"
            id="labelinput"
            aria-describedby="emailHelp"
          >
          <small id="labellHelp" class="form-text text-muted">Ex: Básico I</small>
        </div>
        <!-- Exercício -->
        <div class="form-group">
          <label for="exampleFormControlSelect2">Exercicio</label>
          <select
            class="form-control"
            formControlName="exerciseId"
            name="exerciseId"
            id="exerciseIdinput"
          >
            <option *ngFor="let exercise of exercise$ | async" value="{{exercise.id}}" >{{exercise.command}}</option>
          </select>
        </div>
        <!-- Exercício -->

        <!-- opcoes -->
        <ul class="list-group" *ngIf="options">
          <li class="list-group-item active">Formar lacunas com:</li>
          <div class="form-group">
            <li class="list-group-item" *ngFor="let op of options">
              <label>
                <input type="checkbox" [value]="op" (change)="onCheckboxChange($event)" />
                {{op}}
              </label>
            </li>
          </div>

          <div class="col-md-12 card mb-5 text-center text-white pt-2 bg-info" *ngIf="expression">
            <small>Preview Exercício de Completar</small>
            <p>{{expression}}</p>
          </div>
        </ul>
        <!-- opcoes -->
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-info col-md-12 " type="button" (click) = "setPreview()" *ngIf="options" [disabled]="!form.valid">Visualizar</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary col-md-12 " type="submit" *ngIf="options" >enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
