<app-top [type] = 1></app-top>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-2 col-2  offset-md-2">
      <a routerLink="/exercise-create">
        <div class="btn bg-primary text-white ml-2">
          <span class="material-icons">add</span>
        </div>
      </a>
    </div>
    <div class="col-md-5">
      <h1>Esercizi</h1>
    </div>
  </div>
  <div class="row mt-2" *ngFor="let exercise of exercise$ | async">
    <div class="col-md-6 offset-md-2">
      <div class="container">
        <div class="row">
          <div class="card bg-light border-0 col-md-12 p-1">
            <span>Exercise: {{exercise.number}} - Tipo: {{exercise.type}}</span>
            <span [innerHTML]="exercise.instruction"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center bg-light">
      <a routerLink="/exercise-edit/{{exercise.id}}">
        <div class="btn bg-primary text-white mr-1 mt-3">
          <span class="material-icons">edit</span>
        </div>
      </a>
      <a (click) = "delete(exercise.id)">
        <div class="btn bg-primary text-white mr-1 mt-3">
          <span class="material-icons">delete_forever</span>
        </div>
      </a>
      <div class="btn bg-primary text-white mr-1 mt-3" (click)="goItem(exercise.id, exercise.type)">
        <span class="material-icons">view_list</span>
      </div>
    </div>
  </div>
</div>
